<div class="form-container" style="padding-top:30px;">
  
  <div style="padding-top:1px;">
    
    <div class="form-header">
      <h3>You can edit the information for <%= "#{@spot.name}" %> below.
    </div>
    <%= render partial: "form" %>
  </div>
</div>