<div class="form-container" style="padding-top:30px;">
  
  <div style="padding-top:1px;">
    
    <div class="form-header">
      <h3>Add a new Skate Park </h3>
    </div>
    <%= render partial: "form" %>
  </div>
</div>
