<div class="em-home-basic-background">
    <div class="col-md-6 em-element em-dark-side">
      <div class="em-element  em-f" style="margin-top:-200px;">
        <p class="col-md-8 col-md-offset-2 text-center em-notes lead em-white">
          <br>
          <br>
          <br>
          <%= link_to "Sign In using Foursquare", class:"btn btn-warning btn-lg" %>
          <%= link_to "Register Now with Foursquare", class:"btn btn-warning btn-lg" %>
          <%= link_to "Don't Have a Foursquare Account?", class:"btn btn-warning btn-lg" %>
          <%= link_to "Find Skate Spots!", class:"btn btn-warning btn-lg" %>
        </p>
      </div>
    </div>
  </div>


<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>