  <div class="skate-map-btn">
    <ul style="list-style-type:none">
      <li>
        <img class="img-circle" src="http://i907.photobucket.com/albums/ac277/lord_Revelation911/skate.jpg" alt="Generic placeholder image" style="width: 170px; height: 170px;">
        <br/>
        <br/>
        <%= link_to "Submit a New Skate Spot", home_path, class: "btn btn-success btn-lrg" %>
      </li>
      <br/>
      <li>
        <img class="img-circle" src="http://www.fotothing.com/photos/1e8/1e80ca1d17cafa16ba147d4e7f608129.jpg" alt="Generic placeholder image" style="width: 170px; height: 170px;">
        <br/>
        <br/>
        <%= link_to "Current Feature Shesh", home_path, class: "btn btn-success btn-lrg" %>
      </li>
    </ul>
  </div>

<div id="map_canvas"></div>
