<div class="admin-dash">
  <h1>Admin Dashboard</h1>
  <h4>What would you like to do?</h4>
  <br/>
  <%= link_to "Manage Skate Parks", administrator_skate_spots_path, class: "btn btn-primary btn-lrg", style: "margin-right:10px;" %>
  <%= link_to "Manage User Skate Spots", administrator_user_skate_spots_path, class: "btn btn-primary btn-lrg" %>
  <%= link_to "Manage Current Users", administrator_users_path, class: "btn btn-primary btn-lrg", style: "margin-left:10px;" %>
</div>