@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * Globals
 */

/* Links */

.btn {
  border-style: solid;
  border-color: white;
}

.em-f {
  font-family:  'Permanent Marker', cursive;
}

.em-top-links {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 15px;
  color: blue;
}
.em-top-links link:hover {
  text-decoration: none;
  border: solid;
}

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  
  height: 100%;
  background: asset-url("loanboard.jpg") no-repeat center center fixed;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,1);
          box-shadow: inset 0 0 100px rgba(0,0,0,1);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

.masthead-brand {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 4px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: white;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: #19D1FF;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}




/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* skate map */

#map-canvas {
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
}

#map-show {
  width: 400px;
  height: 230px;
  margin-left: 80px;
  margin-right: auto;
  margin-top: 10px;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
}

#map-user {
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
}

#user-map-show {
  width: 400px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
}
/* skate map buttons */

.skate-map-btn {
  margin-right: 0px;
  margin-top: 225px
}

.user-map-btn {
  margin-top: 10px;
}

.info-window a {
  color:black;
}

.thumbnail {
  height: 270px;
  background-color: #0000B2;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,1);
          box-shadow: inset 0 0 100px rgba(0,0,0,1);
}

/* Supporting marketing content */
.skate-show {
  margin: 40px 0;
}
.skate-show p + h4 {
  margin-top: 28px;
}

.spot-show {
  margin-left: 60px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .skate-show,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.form-horizontal-b {

}

.form-container {
  padding-bottom: 20px;
  margin-top: 10px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,1);
          box-shadow: inset 0 0 100px rgba(0,0,0,1);
}

.form-header {
  font-family:  'Permanent Marker';
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 5px;
  margin-left: 120px;
  margin-right: 120px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,1);
          box-shadow: inset 0 0 100px rgba(0,0,0,1);
}

.form-zipper {
  margin-top: 10px;
  margin-right: 200px;
  margin-left: 200px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,1);
          box-shadow: inset 0 0 100px rgba(0,0,0,1);
}

.admin-dash {
  margin-left: 250px;
  margin-right: 250px;
  padding-bottom: 20px;
  padding-top: 10px; 
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,1);
          box-shadow: inset 0 0 100px rgba(0,0,0,1);
}

.admin-skate-table {
  padding-top: 10px;
  margin-top: 80px;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 25px;
  background-color: #989898;
}

.admin-thead {
  font-family:  'Permanent Marker';
  font-size: 30px;
}

.approved {
  font-size: 30px;
  font-weight: bold;
  color: #00FF00;
}

.pending {
  font-size: 30px;
  font-weight: bold;
  color: #FF9900;
}

.static-pg {
  margin-left: auto;
  margin-right: auto;
}

.map-header {
  font-family:  'Permanent Marker';
  font-size: 50px;
  margin-top: 65px;
  margin-left: 250px;
  margin-right:250px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,1);
          box-shadow: inset 0 0 100px rgba(0,0,0,1);
}

/*.alert-alert {
  @extend .alert-danger;
}
.alert-notice {
  @extend .alert-success;
}

.alert {
  margin-top: 65px;
  font-size: 19px;
  font-weight: 500;
}
*/
#caption-link {
  font-family : 'Permanent Marker';
  font-size: 30px;
}