.em-f {
  font-family: 'Permanent Marker', cursive;
}

.em-top-navbar {
  height: 70px;
  width:  98.5%;
  background: #3D3D5C;
  position: fixed;
  opacity: 10;
  z-index:1000;
}

.em-top-links {
  color: white;
  font-size: large;
  padding-right: 10px;
}

.em-top-brand {
  color: white;
  font-size: xx-large;
  font-weight: 500;
  letter-spacing: 1px;
  padding-left: 10px;
}

.em-top-links link:hover {
  text-decoration: none;
  border: solid;
}

.em-element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.em-left {
  float:left;
  padding-right: 10px;
}

.em-home-background {
  background-image: image-url("people_working_01.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  margin-top:-100px;
  border-bottom: solid;
  border-width:1px;
  border-color:gray;
}

.em-search-box {
  background-color: white;
  background-position: center;
  margin-top: -70px;
  min-height:200px;
  opacity: 1;
  border-top:solid;
  border-width:1px;
  border-color:gray;

}

.em-home-search {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid gray;
  width: 90%;
  margin: 0% 5%;
  padding: 5%;
  margin-top:20px;
  height: 100px;
  font-size:5em;
  color:orange;
}

.em-home-employme {
  color:white;
  font-size: 7em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 900;
}

.em-search-directions {
  padding-right:5%;
  color: dark-gray;
}

.em-full-width {
  width:100%;
  margin-top:70px;
}

.em-wrapper {
  min-height: 100%;
  margin: 0 auto -70px ; /* the bottom margin is the negative value of the footer's height */
}

.em-footer-bar {
  height:30px;
  width:100%;
  background: #888888;
  opacity: 1;
  color: white;
  z-index:1000;
}

html, body {
  height: 100%;
}

.em-home-basic-background {
  background-image: image-url("skatehealth.jpg");
  background-size: cover;
  background-position: top;
  height:100%;
  margin: -15px auto -10px;
}

.em-dark-side {
  background: rgba(0, 0, 0, .5);
  height: 100%;
}

.em-title {
  color: white;
  font-size: 2.5em;
}

.em-white {
  color: white;
}

.em-sub-top-navbar {
  width: 100%;
  background: #171717;
  height:20px;
  color:gray;
  margin-top:20px;
}

.white {
  color:re;
}

.em-right {
  float:right;
  margin-top: 3.5px;
}

.em-column-title {
  font-size: 18px;
  font-weight: 500;
}

.em-column-subtitle {
  color:orange;
  margin:20px 0 0px 0;
  letter-spacing: 1px;
}

.em-listing-push {
  margin-top:30px;
}

.em-listing-job-title {
  font-size: 30px;
  font-weight: 600;
}

.em-listing-job-company {
  font-size: 15px;
  margin-bottom: 40px;
}

.em-push-sidebar {
  margin-top: 102px;
}

.em-listing-description {
  padding-bottom: 100px;
}

.em-cart-padding {
  padding-top: 40px;
}

.em-glyph-style:hover {
  text-decoration: none;
}

.em-apply-push {
  margin-left: 15px;
}

.em-upload-btn {
  margin-top:20px;
}

.em-left-border {
  border-left: solid;
  border-color: gray;
  border-width: 1px;
}

.em-push-signin {
  margin-top:10%;
}

.em-push-left {
  float:left;
}

.em-apply-push {
  margin-bottom: 50px;
  font-weight: 500;
}

.em-ready-apply {
  font-size: 24px;
  font-weight: 500;
}

.em-push-50 {
  margin-bottom: 50px;
}

.em-push-top-50 {
  margin-top: 50px;
}

.em-push-20 {
  margin-bottom: 15px;
}

.em-push-top-20 {
  margin-top: 15px;
}

.em-border-left {
  border-left: solid;
  border-weight: 1px;
  border-color: gray;
  padding: 15px 10px 15px 10px;
}

.em-placeholder-gray {
  color:orange;
}

.form-control::-webkit-input-placeholder {
  color: #C9C6BF;
}

.em-push-10 {
  margin-top: 10px;
}
.em-gu-padding {
  margin-left: -15px;
}

.em-category-title {
  font-size:24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.thumbnail {
  height: 250px;
}

.em-category-margin-top {
  padding-top: 100px;
}

.em-bottom-padding {
  margin-bottom:-80px;
}

.em-bottom-pushing {
  margin-top:170px;
}

.nav-list {
  margin-left: 40px;
}