<div class="em-top-navbar">
  <div class="container em-element">
    <%= link_to "SeshOn!",
        root_path,
        {class:"em-top-brand em-f",
         style:"color:black"}
    %>

    <%= link_to "Dashboard",
        
        {class: "em-top-links em-f col-md-offset-2",
         style: "color:black",
         id: "dashboard"}
    %>

    <%= link_to "Sign In",
        
        {class:"em-top-links em-f col-md-offset-2 ",
         style:"color:black"}
    %>
  </div>
</div>