<div class="em-top-navbar">
  <div class="container em-element">
    <%= link_to "SeshOn",
        root_path,
        {class:"em-top-brand em-f",
         style:"color:aqua"}
    %>

    <div class="col-md-8" style="float:right; margin-top:5px">
      <%= link_to "Dashboard",
        root_path,
        {class: "em-top-links em-f em-padding",
         style: "color:white"
        }
      %>

        <%= link_to "Sign In",
            root_path,
            {class: "em-top-links em-f col-md-offset-2",
             style: "color:white"
           }
        %>
    </div>
  </div>
</div>
